body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 40px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="text"], input[type="color"] {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.hidden {
  display: none;
}

#player-list {
  margin-top: 20px;
}

.player {
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}
